.contact-section{
    background-color: $secondary;
     text-align: center;
     padding: 5rem 3rem;
     h1{
         margin-bottom: 5rem;
     }
     h2{
         margin-bottom: 2rem;
     }
     .mail-icon{
         max-width: 3rem;
     }
 }
 