.scroll-btn{
    &:active{
        transform: translate(-4.2rem, 1.2rem);
    }
 cursor: pointer;
 @include absolute-center(horizontal);
 bottom: 1rem;
 -webkit-appearance: none;
 appearance: none;
 border: none;
 background: none;

  svg{
        fill: $white;
        max-width: 3rem;
    }
 
   }